.cart{
    position: relative;

    .number{
        position: absolute;
        top: -15%;
        right: 0;
        font-size: 5px;
        color: white;
        border-radius: 50%;
        padding: 2px;
        background-color: rgb(255, 125, 4);
    }
}